# Laravel
/vendor/
/node_modules/
/public/build/
/public/hot/
/public/storage/
/storage/*.key
/storage/app/
/storage/framework/
/storage/logs/
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log

# Docker
docker-compose.override.yml

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Testing
/coverage/
.phpunit.cache/

# Build artifacts
/public/mix-manifest.json
